* {
    padding: 0px;
    margin: 0px;
  }
  body {
    background-color: #E6E3E3;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    user-select: none;
  }
  
  /* navbar */
  
  #nav {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 3.7em;
    background-color: #162e44;
    color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: 500;
  
  }
  #nav-items {
    float: right;
    height: 3.7em;
    line-height: 3.7em;
    font-weight: 400;
  
  }
  #nav-items ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    list-style: none;
    font-weight: 400;
  
  }
  #nav-items ul a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
    font-weight: 500;
  
  }
  #nav-items ul a li {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
  
  }
  #nav li {
    transition-timing-function: ease-in;
    font-weight: 500;
  
  }
  #nav li:hover {
    background-color: #304559;
    font-weight: 400;
  
  }
  
  #nav img {
    margin: 9px;
    margin-left: 2%;
    font-weight: 500;
  
  }
  /* slider */
  
  .carousel img {
    width: 100%;
    float: left;
    font-weight: 500;
  
  }
  /* classes   */
#ncert-class{
    position: relative;
    top: -35px;
    width: 100%;
    height: 60vh;
    font-weight: 800;
  }
  
  #ncert-class-sub{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    border-radius: 15px;
  }
  
  .ncert-class-sub-1{
    width: 33%;
    height: 100%;
    float: left;
    border-radius: 10px;
  }
  
  .classes1{
    border: #e7e5e5 2px solid;
    transition: 0.5s;
    border-radius: 7px;
    height: 22.5%;
    width: 95.5%;
    margin-top: 3%;
    background-color: #d8d7d7;
    float: left;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-left: 3.5%;
  }
  
  .classes2{
    border: #e7e5e5 2px solid;
    transition: 0.5s;
    border-radius: 7px;
    height: 22.5%;
    width: 95.5%;
    margin-top: 3%;
    background-color: #d8d7d7;
    float: left;
    margin-left: 3.5%;
  
  }
  
  .classes3{
    border: #e7e5e5 2px solid;
    transition: 0.5s;
    border-radius: 7px;
    height: 22.5%;
    width: 95.5%;
    margin-top: 3%;
    background-color: #d8d7d7;
    float: left;
    font-size: 40px;
    font-weight: 900;
    text-align: center;  
    margin-left: 3.5%;
  
  }
  
  .classes1:hover{
    border: #0a3d62 2px solid;
  }
  .classes2:hover{
    border: #0a3d62 2px solid;
  }
  .classes3:hover{
    border: #0a3d62 2px solid;
  }
  .classes1 p {
    color: #0a3d62;
    border-radius: 7px;
    height: 14.05%;
    width: 95.5%;
    background-color: #d8d7d7;
    float: left;
    font-size: 40px;
    font-weight: 900;
    text-align: center; 
    margin-top: 22px;
  }
  .classes3 p {
    color: #0a3d62;
    border-radius: 7px;
    height: 14.05%;
    width: 95.5%;
    background-color: #d8d7d7;
    float: left;
    font-size: 40px;
    font-weight: 900;
    text-align: center; 
    margin-top: 22px;
  }
  
  .classes2 p {
    color: #0a3d62;
    border-radius: 7px;
    height: 14.05%;
    width: 95.5%;
    background-color: #d8d7d7;
    float: left;
    font-size: 40px;
    font-weight: 900;
    text-align: center; 
    margin-top: 22px;
  }
  
  /* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 18px;
  
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
